# =========================================
# Server Configuration
# =========================================
PORT=3000

# =========================================
# MongoDB Configuration
# =========================================
MONGODB_CONNECTION_STRING=

# =========================================
# Twilio WhatsApp Configuration
# =========================================
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_WHATSAPP_NUMBER=whatsapp:+14155238886

# =========================================
# Groq AI Configuration
# =========================================
GROQ_API_KEY=

# =========================================
# Gemini AI Configuration
# =========================================
GEMINI_API_KEY=

# =========================================
# Cloudinary Configuration
# =========================================
CLOUDINARY_UPLOAD_URL=
CLOUDINARY_UPLOAD_PRESET=n8n_upload

# =========================================
# Google Sheet URLs
# =========================================
SHEET_URL=https://opensheet.elk.sh//Sheet1
CELEBRATION_SHEET_URL=https://opensheet.elk.sh/1R_YkSwYm5b_e7wj8A0vbnbjTS3ZJG0D1pXZXZKThPSw/Celebrations
REMINDER_SHEET_URL=https://opensheet.elk.sh/1R_YkSwYm5b_e7wj8A0vbnbjTS3ZJG0D1pXZXZKThPSw/Reminders
FESTIVAL_SHEET_URL=https://opensheet.elk.sh/1R_YkSwYm5b_e7wj8A0vbnbjTS3ZJG0D1pXZXZKThPSw/Festivals
